#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.th-content {
  display: inline-flex;
  place-items: center;
  gap: 6px;
}

.sort-icons {
  display: flex;
  flex-direction: column;
}

.sort-icon {
  opacity: 0.3;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.sort-icon.active {
  opacity: 1;
}
